__pycache__/
*.py[cod]
*$py.class
*.so

env/
venv/
.venv/
.conda/

.env
.env.local
.env.*

chroma_db/
chroma_data/
qdrant_storage/
lancedb/
metastore/
*.index
*.faiss
*.pkl

data/
dataset/
docs/
uploads/

!data/sample_data.txt

.ipynb_checkpoints
*-checkpoint.ipynb

*.log
langchain.log

.vscode/
.idea/
.DS_Store
Thumbs.db